:root {
    font-size: 16px;
}

body {
    max-width: 24em;
    margin: 2em auto;
    font-size: 2em;
    font-family: sans-serif;
}

fieldset {
    padding: 1em;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 1em;
}

legend {
    font-weight: bold;
}

label {
    display: grid;
    grid: inherit;
    grid-column: span 2;
    grid-gap: inherit;
    grid-template-columns: 5em 1fr; /* Fallback */
    grid-template-columns: subgrid;
}

input,
textarea {
    font: inherit;
    border: 0.0625em solid black;
}
